<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href='/createNewOrganization?organization=test2m'>Создать организацию</a>
</br>
<a href='/deleteOrganization?organization=test2m'>Удалить организацию</a>
</br>
<a href='/findOrganization?organization=test2m'>Получить организацию</a>
</br>
<a href='/deleteOrganization?orgId=10'>Удалить организацию</a>
</br>
<a href='/updateOrganization?orgId=9&name=XXXX'>Обновить организацию</a>
</body>
</html>